{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    <h1 class="page-header">User list</h1>
    
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>User</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Count logs</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td><a href="{{ path('user-logs', {'user_name':user.getUsername}) }}">{{ user.getUsername }}</a></td>
                    <td>{{ user.getCreatedAtFormat }}</td>
                    <td>{{ user.getUpdatedAtFormat }}</td>
                    <td>{{ user.getCountLogs }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock body %}